body {
    padding-top: 5rem;
}
.main-message {
    margin: 2em 0;
}
.main-menu {
    text-align: center;
}
.search-form {
    margin: 2em 0;
}
.form-floor {
    height: 100%;
    font-size: 4em;
}
.floors {
    margin: 2em 0;
}
.floor {
}
